################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/19-01-2024/.vs/19-01-2024/FileContentIndex
